/**
 * Variables
 */
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Animations
 */
@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
  
    transform: rotate(0);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(360deg);
    /* FF3.5+ */
  
    -ms-transform: rotate(360deg);
    /* IE9 */
  
    -o-transform: rotate(360deg);
    /* Opera 10.5 */
  
    transform: rotate(360deg);
    zoom: 1;
  }
}
@-moz-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
  
    transform: rotate(0);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(360deg);
    /* FF3.5+ */
  
    -ms-transform: rotate(360deg);
    /* IE9 */
  
    -o-transform: rotate(360deg);
    /* Opera 10.5 */
  
    transform: rotate(360deg);
    zoom: 1;
  }
}
@-o-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
  
    transform: rotate(0);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(360deg);
    /* FF3.5+ */
  
    -ms-transform: rotate(360deg);
    /* IE9 */
  
    -o-transform: rotate(360deg);
    /* Opera 10.5 */
  
    transform: rotate(360deg);
    zoom: 1;
  }
}
@keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
  
    transform: rotate(0);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(360deg);
    /* FF3.5+ */
  
    -ms-transform: rotate(360deg);
    /* IE9 */
  
    -o-transform: rotate(360deg);
    /* Opera 10.5 */
  
    transform: rotate(360deg);
    zoom: 1;
  }
}
body {
  *zoom: 1;
}
body:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/*----------------------*/
@media only screen and (min-width: 800px) {
  /* 1. GLOBAL DROPDOWN STYLES (these are purely for the dropdown layout and you should only edit the width of the dropdowns) */
  ul.nav {
    /* LEVEL 2 */
  
    /* LEVEL 3 */
  
  }
  /* 2. TOP NAVIGATION (Add top navigation presentational styles here) */
  #top ul.nav {
    /* LEVEL 2 */
  
    /* LEVEL 3 */
  
  }
  /* 3. MAIN NAVIGATION DROPDOWN MENUS (Add main navigation presentational styles here) */
  #navigation ul.nav {
    /* LEVEL 2 */
  
    /* LEVEL 3 */
  
  }
  #navigation ul.nav > li > a {
    color: white;
  }
  #navigation ul.nav > li > a:hover {
    background-color: transparent;
    background: rgba(0, 0, 0, 0.8);
  }
  #navigation ul.nav > li:hover {
    background-color: transparent;
    color: white;
  }
  #navigation ul.nav > li:hover > a {
    background: rgba(0, 0, 0, 0.8);
    color: white;
  }
  #navigation ul.nav ul {
    background-color: transparent;
    background: rgba(0, 0, 0, 0.8);
  }
  #navigation ul.nav ul li a {
    color: #999;
  }
  #navigation ul.nav ul li a:hover {
    background-color: transparent;
    background: rgba(0, 0, 0, 0.8);
  }
  #navigation ul.nav ul ul li {
    color: white;
  }
  #navigation ul.nav li:hover > ul {
    background-color: transparent;
    background: rgba(0, 0, 0, 0.8);
  }
  /* Homepage */
  .home .flexslider li.slide .slide-content {
    margin-top: 5em;
  }
}
